<div class="container d-flex flex-column align-items-center justify-content-center">
   <h1 style="margin-top: 30px">{{event.title}}</h1>
        <img src="{{event.image}}" style="margin-top: 30px"/>
        <h3 style="margin-top: 30px">Date:</h3>
        <p>{{formatDate event.start}}</p>
        <h3 style="margin-top: 30px">Event description:</h3>
        <p style="text-align:center"> {{event.description}}</p>
        <h3>Capacity: {{event.capacity}}</h3>
        
</div>
