
<h1 style="font-size: 4em; margin-top: 30px;">List of events</h1>
<div class="container">
    <div class="row gy-4">
    {{#each events as |event|}}
    <div class="col-3 d-flex justify-content-between align-items-center">
        <div class="card" style="width: 18rem; margin-top: 30px;">
            <img src="{{event.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{event.title}}</h5>
                <p class="card-text">{{formatDate event.start }}</p>
                <div style="z-index: 5">
                    <a href="/events/{{event.id}}"  class="btn btn-primary">Details</a>
                </div>
                <div class="text-end" style=" margin-top:-30px; z-index: 4;">
                    <a class="fa-solid fa-x " href="/events/{{event.id}}/delete"></a>
                </div>
                
            </div>
        </div>
    </div>
    {{/each}}
    </div>
</div>
        